<ion-header>
  <ion-toolbar>
    <ion-title>
      Observations
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="newObservation()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="observations">

    <ion-virtual-scroll [items]="observations" approxItemHeight="320px" [trackBy]="tracky">
      <div class="observations__row" *virtualItem="let observation;">
        <app-observation-card [observation]="observation">
        </app-observation-card>
      </div>
    </ion-virtual-scroll>

  </div>

</ion-content>
